In [2]:
import pandas as pd
import os
display(os.listdir('./origin'))

['공정거래위원회_소비자 민원학습데이터 온라인 상거래 소비자상담 내역_20201231.xlsx',
 '한국건강증진개발원_보건소 모바일 헬스케어_미션_20230912.xlsx',
 '한국건강증진개발원_보건소 모바일 헬스케어_식사_20230909.xlsx',
 '한국건강증진개발원_보건소 모바일 헬스케어_활동_20230912.xlsx']

In [3]:
df_consult = pd.read_excel('./origin/공정거래위원회_소비자 민원학습데이터 온라인 상거래 소비자상담 내역_20201231.xlsx')
df_health = pd.read_excel('./origin/한국건강증진개발원_보건소 모바일 헬스케어_미션_20230912.xlsx')
df_meal = pd.read_excel('./origin/한국건강증진개발원_보건소 모바일 헬스케어_식사_20230909.xlsx')
df_activity = pd.read_excel('./origin/한국건강증진개발원_보건소 모바일 헬스케어_활동_20230912.xlsx')

display(df_consult.head())
display(df_health.head())
display(df_meal.head())
display(df_activity.head())

,사건번호(ACCIDENT_NO),접수일자(RCPT_YMD),성별코드(GENDER_CODE),성별(GENDER),연령대코드(AGE_GROUP_CODE),연령대(AGE_GROUP_NAME),지역코드(AREA_CODE),지역명(AREA_NAME),품목코드(ITEM_CODE),품목명(ITEM_NAME),사건제목(ACCIDENT_TITLE),처리결과코드(PRCS_RESULT_CODE),처리결과(PRCS_RESULT)
0,2020-0000005,2020-01-01,2.0,여성,5.0,40 - 49세,1403,구미시,350104,항공여객운송서비스,마일리지 사용 제한,502,법.제도설명
1,2020-0000045,2020-01-01,2.0,여성,3.0,20 - 29세,405,부평구,230601,애완견,애초에 계약금도 말도안되었고 계약위반했는데 말에 꼬리에엮고 계약서쓴것도없고 돈 환불...,527,피해구제접수안내
2,2020-0000073,2020-01-01,1.0,남성,5.0,40 - 49세,805,군포시,370499,기타회원권,TLX 패스 이용권,509,기타정보제공
3,2020-0000006,2020-01-01,2.0,여성,6.0,50 - 59세,801,고양시,210201,퍼스널컴퓨터,고지없이 정품 아닌 회사용 윈도우 설치된 회사용 컴 교체후 불편함과 고객센타의 불만...,527,피해구제접수안내
4,2020-0000002,2020-01-01,2.0,여성,4.0,30 - 39세,123,종로구,170402,유아복,(주)씨제이이엠에서 환불을 해주고 있지 않습니다.,527,피해구제접수안내

       입력번호             미션명      미션수행일  미션점수
0  40673043   신체활동) 운동일기 등록 2023-09-12     1
1  40673044  활동량) 활동량계 업데이트 2023-09-12     1
2  40673045     영양) 식사일기 등록 2023-09-12     1
3  40673522     영양) 식사일기 등록 2023-09-12     1
4  40673523     영양) 식사일기 등록 2023-09-12     1

        식사일시     칼로리 끼니구분
0 2023-09-09  215.40   점심
1 2023-09-09  271.05   점심
2 2023-09-09  228.01   점심
3 2023-09-09   98.93   점심
4 2023-09-09   15.00   점심

     상담_순번  안전_목표_심박수   최종_수정_일시  상담_차수 활동_처방_구분  하루활동칼로리  하루활동시간  활동유효한계
0  7245111        144 2023-09-12      3       설문      230      30      50
1  7476478        137 2023-09-12      1       설문      357      43      60
2  6282740        139 2023-09-12      6       설문      450      65      65
3  7314038        141 2023-09-12      3       설문      370      73      65
4  6364313        123 2023-09-12      6       설문      334      43      60